<div class="login">
  <div class="login__container">
    <div class="login__container__inner">
    <h1>ログイン</h1>
      <%= form_with(url:sessions_path, scope: :session, method: :post, local:true) do |f| %>
        <div class="input_container">
          <div class="must"></div><%= f.email_field :email, placeholder:"メールアドレス"%>
        </div>
        <div class="input_container">
        <div class="must"></div>
        <%= f.password_field :password, placeholder:"パスワード" %>
        </div>
        <%= f.submit 'ログイン', class:"login_btn"%>
        <div class="new_user">
        <%=link_to "新しいアカウントを作成", new_user_path %>
        </div>
      <% end %>
    </div>
  </div>
</div>