<div class="profile">
  <div class="profile__container">
    <%= form_with(model:@user, local:true) do |f| %>
      <table class="profile_table">
        <tbody>
          <tr>
            <td colspan="2">プロフィール</td>
          </tr>
          <tr>
            <td colspan="2">
            <%=@user.user_img %></td>
          </tr>
          <tr>
            <td class="profile_td_left"><%= f.label :アイコン画像, class:'profile_label' %></td>
            <td class="profile_td_right"><%= f.file_field :user_img %></td>
          </tr>
          <tr>
            <td class="profile_td_left"><%= f.label :名前, class:'profile_label' %></td>
            <td class="profile_td_right"><%= f.text_field  :name %></td>
          </tr>
          <tr>
            <td class="profile_td_left"><%= f.label :自己紹介, class:'profile_label' %></td>
            <td class="profile_td_right"><%= f.text_area :self_introduction %></td>
          </tr>
          <tr>
            <td colspan="2"><%= f.submit '更新', class:'profile_btn' %></td>
          </tr>
        </tbody>
      </table>    
    <% end %>
  </div>
</div>