<div class="registration">
<%= form_with(model:@room, local:true) do |f| %>
  <%= f.text_field  :name,         placeholder:"名前" %>
  <%= f.text_area   :introduction, placeholder:"説明"%>
  <%= f.text_field  :price,        placeholder:"価格"%>
  <%= f.text_field  :address,      placeholder:"住所"%>
  <%= f.file_field  :img,          placeholder:"画像"%>
  <%= f.submit '登録' %>
<% end %>
</div>