<div class="container">
  <div class="row reservation_inner">
    <div class="col-md-8">
          <%=image_tag @room.img_url, class:"reservation_img" %>
        <div>
          <div class="reservation_left_bottom">
              <%=image_tag @user.user_img_url, class:"user_img" if !@user.user_img_url.nil? %>
            <div>
              <div><%=@room.name%></div>
              <div><%=@room.address%></div>
            </div>
          </div>
          <div class="room_introduction"><%=@room.introduction%></div>
        </div>
    </div>
    <div class="col-md-4">
      <div class="reservation_form" >
        <div class="reservation_form__inner" >
          <p class="price_per_day">¥<%=@room.price %> / 日</p>
          <%= form_with(url:confirmation_rooms_path, scope: :reservation, method: :get, local:true) do |f| %>
          <%= f.label :開始日, '開始日' %>
          <%= f.date_field :from_when %>
          <%= f.label :終了日, '終了日' %>
          <%= f.date_field :to_when %>
          <%= f.label :人数, '人数' %>
          <%= f.number_field :stay_number %>
          <%# hidden_field不正操作されない？ %>
          <%= f.hidden_field :price, value:@room.price %>
          <%= f.hidden_field :room_id, value:@room.id %>
          <%= f.submit '予約確認', class:"reservation_btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<div>

         



