<!DOCTYPE html>
<html>
  <head>
    <title>StayReservationApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="header_container">
    <div class="header">
      <div class="header__left">
        <%= link_to image_tag("logo.png"), users_path %>
      
      <div class="search">
        <%# エリアで検索 %>
        <div>
        <%= form_with(url:area_search_rooms_path, scope: :search, method: :get, local:true) do |f| %>
          <%= f.text_field :area, placeholder:"\uF002 エリア" %><i class="fa-solid fa-location-dot"></i>
        <% end %>
        </div>

        <%# キーワードで検索 %>
        <div>
        <%= form_with(url:key_search_rooms_path, scope: :search, method: :get, local: true)  do |f| %>
          <%= f.text_field :area, placeholder:"\uf002 キーワード" %>
          <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
        </div>
      </div>
    </div>
    <div class="header__right">
      <% if !logged_in? %>
      <%= link_to 'ログイン', new_session_path %>
      <%= link_to '登録する', new_user_path %>
      <% else %>
      <%= link_to 'ルーム登録', new_room_path %>
      <%= link_to '予約済みルーム一覧', reservations_path %>
      <%= link_to '登録済みルーム一覧', rooms_path %>
      <%= link_to '設定', account_users_path %>
      <%= link_to 'ログアウト', session_path(current_user), method: :delete %>
      <% end %>
    </div>
  </div>
</div>

    <%= yield %>
  </body>
</html>
